// !按顺序导入
// config
@import "variables";
// layout
@import "reboot";

//
// mixin
@import "src/styles/mixin";
// button样式
@import "src/component/Button/style";
// alert样式
@import "src/component/Alert/style";
// menu样式
@import "src/component/Menu/style";
// Icon样式
@import "src/component/Icon/style";
//animation
@import "animation";
// input样式
@import "src/component/Input/style";
//upload样式
@import "src/component/Upload/style";
//process样式
@import "src/component/Progress/style";
// autoComplete样式
@import "src/component/AutoComplete/style";
