.alert{
  position: relative;
  margin: auto;
  width: 600px;
  display: block;
  font-weight: $alt-font-weight;
  line-height: $alt-line-height;
  color:$black;
  border: $alt-border-width solid transparent;
  border-radius: 20px 20px 20px 20px;
  box-shadow: $alt-box-shadow;
  padding: $alt-padding-y $alt-padding-x;
  font-size: $alt-font-size;
  text-align: center;
  vertical-align: center;
  white-space: normal;
  transition: $btn-transition;
  >div {
    position: relative;
    .alt-message {
      font-weight: $font-weight-bold;
      line-height: normal;
      text-align: center;
      color: black;
    }
    .alt-desc {
      color: #000;
      display: block;
      font-size: $alt-font-size*0.8;
    }

  }
  .alt-cancel {
    height: 32px !important;
    width: 42px !important;
    display: inline-block;
    border: 1.8px solid #dc3545;
    border-radius: 50%;
    background-color: $gray-300;
    margin-top: 30px;
    margin-bottom: 2px;
    color: red;
    font-weight: normal;
    cursor: pointer;

    &:hover {
      background-color: white;
      font-weight: bold;
    }

    &:focus, &.focus {

      background-color: white;
      font-weight: bold;
    }
  }
  }

.alt-info{
  @include button-style($primary,$primary, $white)
}
.alt-success{
  @include button-style($success,$success, $white)
}
.alt-error{
  @include button-style(lighten($danger,0.5%),$danger, $white)
}
.alt-warning{
  @include button-style($white,$gray-400,$body-color,$white,$primary,$primary)
}

